* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	
}
  
body {
	background-color: #FF9BD2;
}

main {
	float: right;
	width: 70%;
	min-width: 720px;
	padding: 2%;
	background-color: #FF9BD2;
    font-family: "Raleway";
	font-weight: 500;
	text-align: center;
}

button {
	font-family: "Raleway";
	font-size: large;
}

#board {
	height: 570px;
	width: 670px;

	background-color: rgb(116, 134, 233);
	border: 12px solid rgb(0, 30, 128);

	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.tile {
	height: 75px;
	width: 75px;
	margin: 8px;

	/* Circle Details */
	background-color: #FF9BD2;
	border-radius: 50%;
	border: 2px solid rgb(0, 30, 128);
}

.player1 {
	/* Set color of player 1's pieces */
	background-color: rgb(218, 73, 73);
}

.player2 {
	/* Set color of player 2's pieces */
	background-color:rgb(255, 253, 143)
}

aside {
	width: 30%;
	height: 100%;
	padding: 2%;
	background-color: rgb(234, 197, 255);
	font-family: "Raleway";
	position: fixed;
	display: flex;
	flex-direction: column;
}

#chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

#messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
}

#message-input {
    border: none;
    border-top: 1px solid #ccc;
    padding: 10px;
    width: 100%;
}