.content {
	max-width: 500px;
	margin: auto;
}

/* Background color for navigation bar */
.nav {
	background-color: #D63484;
	overflow: hidden;
}

/* Style title name inside the navigation bar */
.nav a.logo {
	float: right;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 20px;
	margin-top: 5px;
	text-decoration: none;
	font-size: 30px;
	font-family: "Berkshire Swash";
}

/* Style the links inside the navigation bar */
.nav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 22px 20px;
	text-decoration: none;
	font-size: 25px;
	font-family: "Protest Riot";
}
  
/* Change the color of links on hover */
.nav a:hover {
	background-color: #ddd;
	color: #D63484;
}
  
/* Add a color to the active/current link */
.nav a.active {
	background-color: #ff72c0;
	color: white;
}

@media screen and (max-width: 500px) {
	.nav a {
	  float: none;
	  display: block;
	  text-align: left;
	}
  }


body {
	background-color: #FF9BD2;
}

h1 {
	font-family: "Protest Riot";
	color: #D63484;
	text-align: center;
	margin: 0px;
	padding: 5px;
}

p1 {
	font-family: "Shadows Into Light";
	font-size: x-large;
	padding-left: 15px;
}

p2 {
	font-family: "Indie Flower";
	font-size: x-large;
	padding-left: 15px;
}

p {
	font-family: "Grandstander";
	font-size: large;
	text-align: center;
	text-justify: inter-word;
}

