body {
	background-color: #FF9BD2;
    font-family: "Raleway";
	font-weight: 500;
	text-align: center;
}

#board {
	height: 570px;
	width: 670px;

	background-color: rgb(116, 134, 233);
	border: 12px solid rgb(0, 30, 128);

	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.tile {
	height: 75px;
	width: 75px;
	margin: 8px;

	/* Circle Details */
	background-color: #FF9BD2;
	border-radius: 50%;
	border: 2px solid rgb(0, 30, 128);
}

.player1 {
	/* Set color of player 1's pieces */
	background-color: rgb(218, 73, 73);
}

.player2 {
	/* Set color of player 2's pieces */
	background-color:rgb(255, 253, 143)
}

/* .falling-animation {
    animation: fall 0.5s ease-in-out; 
} 

@keyframes fall {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}
*/